parameters:
    reportUnmatchedIgnoredErrors: false
    level: 0
    scanDirectories:
        - .
    paths:
        - .
    excludePaths:
        - 'vendor'
        - 'docker'

    ignoreErrors:
        - '#has invalid type#'
        - '#has invalid return type#'
        -
            identifier: class.extendsFinalByPhpDoc
            path: src/Model/Logger.php
