<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Plugins -->
    <type name ="Magento\Checkout\Api\ShippingInformationManagementInterface">
        <plugin name="Rvvup_Payments::checkout.express_payment_validate_customer_address.plugin"
                type="Rvvup\Payments\Plugin\Checkout\ExpressPaymentValidateCustomerAddress"/>
    </type>
    <!-- DI -->
    <type name="Rvvup\Payments\Model\SessionMessagesGet">
        <arguments>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Magento\Payment\Helper\Data">
        <plugin name="Rvvup_Payments::loadPaymentMethods" type="Rvvup\Payments\Plugin\LoadPaymentMethods"/>
    </type>
    <type name="Rvvup\Payments\Plugin\LoadPaymentMethods">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\ReCaptchaCheckout\Model\WebapiConfigProvider">
        <plugin name="validateForReCaptcha"
                type="Rvvup\Payments\Plugin\WebApiConfig"
                sortOrder="1"/>
    </type>
</config>
