<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- DI preferences -->
    <!-- Create Express Payment for logged-in & guest users -->
    <!-- Payment Action model di -->
    <preference for="Rvvup\Payments\Api\Data\PaymentActionInterface"
                type="Rvvup\Payments\Model\PaymentAction"/>
    <preference for="Rvvup\Payments\Api\ExpressPaymentCreateInterface"
                type="Rvvup\Payments\Model\ExpressPaymentCreate"/>
    <preference for="Rvvup\Payments\Api\GuestExpressPaymentCreateInterface"
                type="Rvvup\Payments\Model\GuestExpressPaymentCreate"/>
    <!-- Remove Express Payment Data from payment method for logged-in & guest users -->
    <preference for="Rvvup\Payments\Api\GuestCartExpressPaymentRemoveInterface"
                type="Rvvup\Payments\Model\GuestCartExpressPaymentRemove"/>
    <preference for="Rvvup\Payments\Api\CartExpressPaymentRemoveInterface"
                type="Rvvup\Payments\Model\CartExpressPaymentRemove"/>
    <!-- Get Cart Payment Actions for logged-in & guest users -->
    <preference for="Rvvup\Payments\Api\CartPaymentActionsGetInterface"
                type="Rvvup\Payments\Model\CartPaymentActionsGet"/>
    <preference for="Rvvup\Payments\Api\GuestCartPaymentActionsGetInterface"
                type="Rvvup\Payments\Model\GuestCartPaymentActionsGet"/>
    <preference for="Rvvup\Payments\Model\ConfigInterface" type="Rvvup\Payments\Model\Config"/>
    <preference for="Rvvup\Payments\Api\PaymentMethodsAssetsGetInterface"
                type="Rvvup\Payments\Model\PaymentMethodsAssetsGet"/>
    <preference for="Rvvup\Payments\Api\PaymentMethodsSettingsGetInterface"
                type="Rvvup\Payments\Model\PaymentMethodsSettingsGet"/>
    <preference for="Rvvup\Payments\Model\Environment\GetEnvironmentVersionsInterface"
                type="Rvvup\Payments\Model\Environment\GetEnvironmentVersions"/>
    <preference for="Rvvup\Payments\Model\IsPaymentMethodAvailableInterface"
                type="Rvvup\Payments\Model\IsPaymentMethodAvailable"/>
    <preference for="Rvvup\Payments\Model\PaymentActionsGetInterface"
                type="Rvvup\Payments\Model\PaymentActionsGet"/>
    <preference for="Rvvup\Payments\Model\PaymentMethodsAvailableGetInterface"
                type="Rvvup\Payments\Model\PaymentMethodsAvailableGet"/>
    <preference for="Rvvup\Payments\Api\Data\ProcessOrderResultInterface"
                type="Rvvup\Payments\Model\ProcessOrderResult"/>
    <preference for="Rvvup\Payments\Model\Payment\PaymentCreateExpressInterface"
                type="Rvvup\Payments\Model\Payment\PaymentCreateExpress"/>
    <preference for="Rvvup\Payments\Model\Payment\PaymentDataGetInterface"
                type="Rvvup\Payments\Model\Payment\PaymentDataGet"/>


    <!-- Checks -->
    <preference for="Rvvup\Payments\Model\Checks\HasCartExpressPaymentInterface"
                type="Rvvup\Payments\Model\Checks\HasCartExpressPayment"/>

    <!-- Custom Rvvup Logger -->
    <virtualType name="RvvupLogHandler" type="\Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
            <argument name="fileName" xsi:type="string">/var/log/rvvup.log</argument>
        </arguments>
    </virtualType>
    <type name="Rvvup\Payments\Model\Logger">
        <arguments>
            <argument name="name" xsi:type="string">Rvvup</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">RvvupLogHandler</item>
            </argument>
        </arguments>
    </type>

    <!-- Payment Method Facade configuration -->
    <virtualType name="RvvupFacade" type="Rvvup\Payments\Gateway\Method">
        <arguments>
            <argument name="code" xsi:type="string">rvvup</argument>
            <argument name="title" xsi:type="string">Rvvup</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Rvvup\Payments\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">RvvupValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">\Rvvup\Payments\Gateway\CommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Payment Link Method Facade configuration -->
    <virtualType name="RvvupPaymentLinkFacade" type="Rvvup\Payments\Gateway\Method">
        <arguments>
            <argument name="code" xsi:type="string">rvvup_payment-link</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Rvvup\Payments\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">RvvupPaymentLinkValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">RvvupPaymentLinksPool</argument>
        </arguments>
    </virtualType>

    <!-- Virtual Terminal Method Facade configuration -->
    <virtualType name="RvvupVirtualTerminalFacade" type="Rvvup\Payments\Gateway\Method">
        <arguments>
            <argument name="code" xsi:type="string">rvvup_virtual-terminal</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Rvvup\Payments\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">RvvupVirtualTerminalValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">RvvupVirtualTerminalPool</argument>
        </arguments>
    </virtualType>

    <type name="Rvvup\Payments\Block\Info">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="methodCode" xsi:type="string">rvvup</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="RvvupValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">RvvupConfigValueHandler</item>
                <item name="can_refund" xsi:type="string">Rvvup\Payments\Gateway\Command\CanRefund</item>
                <item name="can_void" xsi:type="string">Rvvup\Payments\Gateway\Command\CanVoid</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="RvvupPaymentLinkValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">RvvupPaymentLinkConfigValueHandler</item>
                <item name="can_refund" xsi:type="string">Rvvup\Payments\Gateway\Command\CanRefund</item>
                <item name="can_void" xsi:type="string">Rvvup\Payments\Gateway\Command\CanVoid</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="RvvupVirtualTerminalValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">RvvupVirtualTerminalConfigValueHandler</item>
                <item name="can_refund" xsi:type="string">Rvvup\Payments\Gateway\Command\CanRefund</item>
                <item name="can_void" xsi:type="string">Rvvup\Payments\Gateway\Command\CanVoid</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="RvvupConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">RvvupConfigValueHandlerConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="RvvupPaymentLinkConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">RvvupPaymentLinkConfigValueHandlerConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="RvvupVirtualTerminalConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">RvvupVirtualTerminalConfigValueHandlerConfig</argument>
        </arguments>
    </virtualType>


    <virtualType name="RvvupConfigValueHandlerConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">rvvup</argument>
        </arguments>
    </virtualType>

    <virtualType name="RvvupPaymentLinkConfigValueHandlerConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">rvvup_payment-link</argument>
        </arguments>
    </virtualType>

    <virtualType name="RvvupVirtualTerminalConfigValueHandlerConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">rvvup_virtual-terminal</argument>
        </arguments>
    </virtualType>

    <!-- Payment Commands -->
    <virtualType name="RvvupCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="initialize" xsi:type="string">Rvvup\Payments\Gateway\Command\InitializeCommand</item>
                <item name="createPayment" xsi:type="string">Rvvup\Payments\Gateway\Command\CreatePayment</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Rvvup\Payments\Gateway\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="capture" xsi:type="string">Rvvup\Payments\Gateway\Command\Capture</item>
                <item name="refund" xsi:type="string">Rvvup\Payments\Gateway\Command\Refund</item>
                <item name="void" xsi:type="string">Rvvup\Payments\Gateway\Command\VoidPayment</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="RvvupPaymentLinksPool" type="Rvvup\Payments\Gateway\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="refund" xsi:type="string">Rvvup\Payments\Gateway\Command\Refund</item>
                <item name="void" xsi:type="string">Rvvup\Payments\Gateway\Command\VoidPayment</item>
                <item name="cancel" xsi:type="string">Rvvup\Payments\Gateway\Command\Cancel</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="RvvupVirtualTerminalPool" type="Rvvup\Payments\Gateway\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="refund" xsi:type="string">Rvvup\Payments\Gateway\Command\Refund</item>
                <item name="void" xsi:type="string">Rvvup\Payments\Gateway\Command\VoidPayment</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Initialize Command -->
    <virtualType name="Rvvup\Payments\Gateway\Command\InitializeCommand"
                 type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">RvvupInitializeRequest</argument>
            <argument name="transferFactory" xsi:type="object">Rvvup\Payments\Gateway\Http\TransferFactory</argument>
            <argument name="client"
                      xsi:type="object">Rvvup\Payments\Gateway\Http\Client\TransactionInitialize
            </argument>
            <argument name="handler"
                      xsi:type="object">\Rvvup\Payments\Gateway\Response\InitializeResponseHandler
            </argument>
            <argument name="validator"
                      xsi:type="object">Rvvup\Payments\Gateway\Validator\InitializeResponseValidator
            </argument>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
        </arguments>
    </virtualType>

    <virtualType name="RvvupInitializeRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="initialize" xsi:type="string">Rvvup\Payments\Gateway\Request\InitializeDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Rvvup\Payments\Gateway\Request\InitializeDataBuilder">
        <arguments>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
        </arguments>
    </type>
    <!-- End of Initialize command -->

    <type name="Rvvup\Payments\Model\CartPaymentActionsGet">
        <arguments>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
            <argument name="commandPool" xsi:type="object">RvvupCommandPool</argument>
        </arguments>
    </type>

    <type name="Rvvup\Payments\Model\SdkProxy">
        <arguments>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Rvvup\Payments\Model\Checks\HasCartRestrictedProduct">
        <arguments>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Rvvup\Payments\Model\Checks\HasCartExpressPayment">
        <arguments>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
        </arguments>
    </type>

    <!-- Plugins -->
    <!-- Remove express paymment additional information from payment object if changing payment method -->
    <type name="Magento\Quote\Api\PaymentMethodManagementInterface">
        <plugin
            name="Rvvup_Payments::quote.api.payment_method_management.remove_express_payment_info_on_method_change.plugin"
            type="Rvvup\Payments\Plugin\Quote\Api\PaymentMethodManagement\RemoveExpressPaymentInfoOnMethodChange"/>
        <plugin name="Rvvup_Payments::quote.api.payment_method_management.limit_cart_express_payment.plugin"
                type="Rvvup\Payments\Plugin\Quote\Api\PaymentMethodManagement\LimitCartExpressPayment"/>
    </type>

    <type name="Magento\Payment\Helper\Data">
        <plugin name="Rvvup_Payments::loadMethods" type="Rvvup\Payments\Plugin\LoadMethodInstances"/>
    </type>

    <type name="Rvvup\Payments\Controller\Webhook\Index">
        <arguments>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Rvvup\Payments\Service\Capture">
        <arguments>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Rvvup\Payments\Model\Queue\Handler\Handler">
        <arguments>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Rvvup\Payments\Service\Result">
        <arguments>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="Rvvup\Payments\Model\Data\Validation">
        <arguments>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
        </arguments>
    </type>

    <type name="\Rvvup\Payments\Controller\CardPayments\Cancel">
        <arguments>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Rvvup\Payments\ViewModel\Clearpay">
        <arguments>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Rvvup\Payments\Model\CartExpressPaymentRemove">
        <arguments>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Rvvup\Payments\Model\PaymentMethodsAssetsGet">
        <arguments>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Rvvup\Payments\Model\IsPaymentMethodAvailable">
        <arguments>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Rvvup\Payments\Model\PaymentMethodsAvailableGet">
        <arguments>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Rvvup\Payments\ViewModel\Assets">
        <arguments>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
        </arguments>
    </type>

    <!-- Payment Methods List Additional Checks. Checks whether payment method is available for quote -->
    <type name="Magento\Payment\Model\MethodList">
        <arguments>
            <argument name="additionalChecks" xsi:type="array">
                <item name="rvvup_payment_methods_restricted_product_specification"
                      xsi:type="string">rvvup_payment_methods_restricted_product_specification
                </item>
            </argument>
        </arguments>
    </type>

    <!-- Cart has restricted products specification. Used in payment method checks -->
    <type name="Magento\Payment\Model\Checks\SpecificationFactory">
        <arguments>
            <argument name="mapping" xsi:type="array">
                <item name="rvvup_payment_methods_restricted_product_specification"
                      xsi:type="object">Rvvup\Payments\Model\Checks\HasCartRestrictedProduct
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Rvvup\Payments\Plugin\LoadMethodInstances">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Rvvup\Payments\Model\ComplexProductTypePool">
        <arguments>
            <argument name="productTypes" xsi:type="array">
                <item name="configurable" xsi:type="string">configurable</item>
                <item name="grouped" xsi:type="string">grouped</item>
                <item name="bundle" xsi:type="string">bundle</item>
            </argument>
        </arguments>
    </type>

    <type name="Rvvup\Payments\Model\ProcessOrder\ProcessorPool">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="CANCELLED" xsi:type="object">Rvvup\Payments\Model\ProcessOrder\Cancel</item>
                <item name="DECLINED" xsi:type="object">Rvvup\Payments\Model\ProcessOrder\Cancel</item>
                <item name="EXPIRED" xsi:type="object">Rvvup\Payments\Model\ProcessOrder\Cancel</item>
                <item name="FAILED" xsi:type="object">Rvvup\Payments\Model\ProcessOrder\Cancel</item>
                <item name="AUTHORIZATION_EXPIRED" xsi:type="object">Rvvup\Payments\Model\ProcessOrder\Cancel</item>
                <item name="PENDING" xsi:type="object">Rvvup\Payments\Model\ProcessOrder\Processing</item>
                <item name="REQUIRES_ACTION" xsi:type="object">Rvvup\Payments\Model\ProcessOrder\Processing</item>
                <item name="AUTHORIZED" xsi:type="object">Rvvup\Payments\Model\ProcessOrder\Processing</item>
                <item name="SUCCEEDED" xsi:type="object">Rvvup\Payments\Model\ProcessOrder\Complete</item>
                <item name="REQUIRES_PAYMENT" xsi:type="object">Rvvup\Payments\Model\ProcessOrder\UpdateOrder</item>
            </argument>
            <argument name="paymentLinkProcessors" xsi:type="array">
                <item name="CANCELLED" xsi:type="object">Rvvup\Payments\Model\ProcessOrder\Comment</item>
                <item name="DECLINED" xsi:type="object">Rvvup\Payments\Model\ProcessOrder\Comment</item>
                <item name="EXPIRED" xsi:type="object">Rvvup\Payments\Model\ProcessOrder\Comment</item>
                <item name="FAILED" xsi:type="object">Rvvup\Payments\Model\ProcessOrder\Comment</item>
                <item name="AUTHORIZATION_EXPIRED" xsi:type="object">Rvvup\Payments\Model\ProcessOrder\Comment</item>
                <item name="PENDING" xsi:type="object">Rvvup\Payments\Model\ProcessOrder\Comment</item>
                <item name="REQUIRES_ACTION" xsi:type="object">Rvvup\Payments\Model\ProcessOrder\Comment</item>
                <item name="REQUIRES_PAYMENT" xsi:type="object">Rvvup\Payments\Model\ProcessOrder\Comment</item>
                <item name="REFUND_COMPLETED" xsi:type="object">Rvvup\Payments\Model\ProcessOrder\Comment</item>
                <item name="AUTHORIZED" xsi:type="object">Rvvup\Payments\Model\ProcessOrder\Processing</item>
                <item name="SUCCEEDED" xsi:type="object">Rvvup\Payments\Model\ProcessOrder\Complete</item>
            </argument>
        </arguments>
    </type>

    <type name="Rvvup\Payments\Model\ProcessRefund\ProcessorPool">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="REFUND_COMPLETED" xsi:type="object">Rvvup\Payments\Model\ProcessRefund\Complete</item>
            </argument>
        </arguments>
    </type>

    <type name="Rvvup\Payments\Model\Environment\GetEnvironmentVersions">
        <arguments>
            <argument name="fileIo" xsi:type="object">Magento\Framework\Filesystem\Io\File</argument>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Rvvup\Payments\Model\PaymentActionsGet">
        <arguments>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
            <argument name="commandPool" xsi:type="object">RvvupCommandPool</argument>
        </arguments>
    </type>

    <type name="Rvvup\Payments\Model\ProcessOrder\Comment">
        <arguments>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Rvvup\Payments\Model\Payment\PaymentCreateExpress">
        <arguments>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Rvvup\Payments\Model\Payment\PaymentDataGet">
        <arguments>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Rvvup\Payments\Gateway\Command\VoidPayment">
        <arguments>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
            <argument name="cancelStatuses" xsi:type="array">
                <item name="0" xsi:type="const">\Magento\Sales\Model\Order::STATE_COMPLETE</item>
                <item name="1" xsi:type="const">\Magento\Sales\Model\Order::STATE_PROCESSING</item>
            </argument>
        </arguments>
    </type>

    <type name="Rvvup\Payments\Gateway\Command\Cancel">
        <arguments>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Rvvup\Payments\Model\ProcessOrder\Cancel">
        <arguments>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Rvvup\Payments\Model\ProcessOrder\Complete">
        <arguments>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Rvvup\Payments\Model\ProcessOrder\Processing">
        <arguments>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Rvvup\Payments\Model\ProcessRefund\Complete">
        <arguments>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Rvvup\Payments\Model\Quote\QuoteMaskedQuoteIdGet">
        <arguments>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Rvvup\Payments\Observer\Model\ProcessOrder\AddOrderHistoryCommentObserver">
        <arguments>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Rvvup\Payments\Observer\Model\ProcessOrder\EmailSenderObserver">
        <arguments>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Rvvup\Payments\Observer\Model\ProcessOrder\CardsMetadata">
        <arguments>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Rvvup\Payments\Observer\Quote\Model\Quote\Item\RemoveExpressPaymentDataObserver">
        <arguments>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Rvvup\Payments\Plugin\Quote\Api\PaymentMethodManagement\RemoveExpressPaymentInfoOnMethodChange">
        <arguments>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Rvvup\Payments\Gateway\Http\Client\TransactionInitialize">
        <arguments>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Rvvup\Payments\Cron\Webhook">
        <arguments>
            <argument name="logger" xsi:type="object">Rvvup\Payments\Model\Logger</argument>
        </arguments>
    </type>

    <preference for="Rvvup\Payments\Api\Data\WebhookInterface" type="Rvvup\Payments\Model\Data\WebhookData"/>
    <preference for="Rvvup\Payments\Api\WebhookRepositoryInterface" type="Rvvup\Payments\Model\WebhookRepository"/>

    <type name="Magento\Sales\Model\Order\Creditmemo">
        <plugin name="disableCreditMemoRefunds"
                type="Rvvup\Payments\Plugin\Refund\CreditMemo"
                sortOrder="1"/>
    </type>
    <type name="Magento\Sales\Model\Order\Invoice">
        <plugin name="pendingRefunds"
                type="Rvvup\Payments\Plugin\Refund\Invoice"
                sortOrder="1"/>
    </type>
    <type name="Magento\Sales\Model\Order\Payment">
        <plugin name="canCreditMemoDisable"
                type="Rvvup\Payments\Plugin\Cancel\Payment"
                sortOrder="1"/>
        <plugin name="aroundVoid"
                type="Rvvup\Payments\Plugin\PaymentVoid"
                sortOrder="1"/>
    </type>

    <type name="Magento\Checkout\Api\GuestPaymentInformationManagementInterface">
        <plugin name="disable_order_creation"
                type="Rvvup\Payments\Plugin\Guest\DisableOrderCreation"
                sortOrder="1"/>
    </type>
    <type name="Magento\Checkout\Api\PaymentInformationManagementInterface">
        <plugin name="disable_order_creation"
                type="Rvvup\Payments\Plugin\Customer\DisableOrderCreation"
                sortOrder="1"/>
    </type>

    <type name="Magento\Quote\Observer\SubmitObserver">
        <plugin name="disableSendOrderNotificationForRvvupOrders"
                type="Magento\Quote\Plugin\SendOrderNotification"
                sortOrder="50" disabled="false"
        />
    </type>
    <preference for="Rvvup\Payments\Api\Data\ValidationInterface" type="Rvvup\Payments\Model\Data\Validation"/>
    <preference for="Rvvup\Payments\Api\Data\LogInterface" type="Rvvup\Payments\Model\Data\LogData"/>
</config>
