<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data">
        <observer name="Rvvup_Payments::gateway_data_assign" instance="Rvvup\Payments\Observer\DataAssignObserver" />
    </event>

    <event name="sales_order_payment_cancel">
        <observer name="Rvvup_Payments::cancelPaymentLinks" instance="Rvvup\Payments\Observer\Cancel" />
    </event>

    <event name="rvvup_payments_process_order_cancel_after">
        <observer name="Rvvup_Payments::Model\ProcessOrder\Cancel\AddOrderHistoryCommentObserver"
                  instance="Rvvup\Payments\Observer\Model\ProcessOrder\AddOrderHistoryCommentObserver"
                  shared="false" />
    </event>

    <event name="rvvup_payments_process_order_complete_after">
        <observer name="Rvvup_Payments::Model\ProcessOrder\Complete\EmailSenderObserver"
                  instance="Rvvup\Payments\Observer\Model\ProcessOrder\EmailSenderObserver"
                  shared="false" />
        <observer name="Rvvup_Payments::Model\ProcessOrder\Complete\CardsMetadata"
                  instance="Rvvup\Payments\Observer\Model\ProcessOrder\CardsMetadata"
                  shared="false" />
    </event>

    <event name="rvvup_payments_process_order_processing_after">
        <observer name="Rvvup_Payments::Model\ProcessOrder\Processing\AddOrderHistoryCommentObserver"
                  instance="Rvvup\Payments\Observer\Model\ProcessOrder\AddOrderHistoryCommentObserver"
                  shared="false" />
    </event>

    <event name="checkout_cart_product_add_after">
        <observer name="Rvvup_Payments::Quote\Model\Quote\Item\RemoveExpressPaymentDataObserver"
                  instance="Rvvup\Payments\Observer\Quote\Model\Quote\Item\RemoveExpressPaymentDataObserver"
                  shared="false" />
    </event>
    <event name="sales_quote_remove_item">
        <observer name="Rvvup_Payments::Quote\Model\Quote\Item\RemoveExpressPaymentDataObserver"
                  instance="Rvvup\Payments\Observer\Quote\Model\Quote\Item\RemoveExpressPaymentDataObserver"
                  shared="false" />
    </event>
    <event name="checkout_cart_update_items_after">
        <observer name="Rvvup_Payments::Quote\Model\Quote\Item\RemoveExpressPaymentDataObserver"
                  instance="Rvvup\Payments\Observer\Quote\Model\Quote\Item\RemoveExpressPaymentDataObserver"
                  shared="false" />
    </event>

    <event name="sales_quote_add_item">
        <observer name="Rvvup_Payments::Quote\Model\Quote\Item\RemoveExpressPaymentDataObserver"
                  instance="Rvvup\Payments\Observer\Quote\Model\Quote\Item\RemoveExpressPaymentDataObserver"
                  shared="false" />
    </event>

    <event name="sales_quote_product_add_after">
        <observer name="Rvvup_Payments::Quote\Model\Quote\Item\RemoveExpressPaymentDataObserver"
                  instance="Rvvup\Payments\Observer\Quote\Model\Quote\Item\RemoveExpressPaymentDataObserver"
                  shared="false" />
    </event>

    <event name="admin_system_config_save">
        <observer name="Rvvup_Payments::Observer\Webhook"
                  instance="Rvvup\Payments\Observer\Webhook"
                  shared="false"/>
    </event>
</config>
