<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Rvvup\Payments\Api\ClearpayAvailabilityInterface" type="Rvvup\Payments\Model\ClearpayAvailability"/>
    <preference for="Rvvup\Payments\Api\PaymentRedirectInterface" type="Rvvup\Payments\Model\PaymentRedirect"/>
</config>
