<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="layout_render_before_checkout_cart_index">
        <observer name="rvvup_payments_checkout_cart_restrictions_warning" instance="Rvvup\Payments\Observer\CartRestrictionsWarning"/>
    </event>
</config>
